<div class="row">
  <div class="col-md-8">
    <div class="card mb-3">
      <h3 class="card-header">{{pageTitle}}</h3>
      <div class="card-body"
           *ngIf="product">
        <ul>
          <li>Name is required and must be between 3 and 25 characters</li>
          <li>Price is required and must be between 1 and 1000</li>
          <li>Description is required, must be less than 100 characters, and cannot contain the words 'foo' or 'bar'</li>
        </ul>

        <form novalidate
              (ngSubmit)="save()"
              [formGroup]="form"
              autocomplete="off">
          <fieldset>
            <div class="form-group"
                [ngClass]="{'has-danger': displayMessage.name}">
              <label class="form-control-label"
                    for="nameId">Name</label>
              <input class="form-control"
                    id="nameId"
                    type="text"
                    placeholder="Name (required)"
                    formControlName="name"
                    [ngClass]="{'is-invalid': displayMessage.name}"
                    [autofocus] />
              <div class="invalid-feedback">{{displayMessage.name}}</div>
            </div>

            <div class="form-group"
                [ngClass]="{'has-danger': displayMessage.price}">
              <label class="form-control-label"
                    for="priceId">Price</label>
              <input class="form-control"
                    id="priceId"
                    type="text"
                    placeholder="Price (required)"
                    [ngClass]="{'is-invalid': displayMessage.price}"
                    formControlName="price" />
              <div class="invalid-feedback">{{displayMessage.price}}</div>
            </div>

            <div class="form-group"
                [ngClass]="{'has-danger': description.invalid &&
                                      (description.dirty || description.touched) &&
                                      description.errors}">
              <label class="form-control-label"
                    for="descriptionId">Description</label>
              <textarea class="form-control"
                    id="decriptionId"
                    rows="4"
                    placeholder="Description (required)"
                    [ngClass]="{'is-invalid': description.invalid &&
                                      (description.dirty || description.touched) &&
                                      description.errors}"
                    formControlName="description" ></textarea>
              <div class="invalid-feedback">{{displayMessage.description}}</div>
              <div class="invalid-feedback"
                  *ngIf="description.invalid && description.dirty && description?.errors.restrictedWords">
                Restricted words found: {{description.errors.restrictedWords}}
              </div>
            </div>

          </fieldset>

          <button type="submit"
                  class="btn btn-primary mr-2"
                  style="width:80px"
                  [disabled]="!form.valid">Save</button>
          <button type="button"
                  class="btn btn-outline-danger mr-2"
                  style="width:80px"
                  (click)="delete()">Delete</button>
          <button type="button"
                  class="btn btn-outline-secondary"
                  style="width:80px"
                  (click)="cancel()">Cancel</button>
        </form>

      </div>
    </div>

    <div *ngIf='errorMessage' class='alert alert-danger'>
      Error: {{ errorMessage }}
    </div>
  </div>
</div>