<h1>ng-idle-http</h1>
<p>the http service</p>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <th>Feature</th>
      <th>Description</th>
      <th>Usage</th>
    </thead>
    <tbody>
      <tr>
        <th>AddHeaderInterceptor</th>
        <td colspan="2">
          <div></div>
        </td>
      </tr>
      <tr>
        <th>AddXmlHeaderInterceptor</th>
        <td colspan="2">
          <div></div>
        </td>
      </tr>
      <tr>
        <th>GenericDataService</th>
        <td colspan="2">
          <div></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>